body{
    background-color: #252525;
}


.typecontainer{
  
    position: sticky;
    top: 0;
    margin-left: 25%;
    width: 750px;
    position: absolute;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.typecontainer span{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  

    font-size: 3.7rem;
    font-weight: 700;
    position: relative;
}

.typecontainer span.myText{
    color: rgb(48, 196, 255);
    
}

.typecontainer span.headText{
    color: rgb(48, 196, 255);
}

.form-container {
    background: white;
    height: 55vh;
    width: 20vw;
    margin-top: 10%;
    margin-left: 40%;
    border-radius: 5%;
    padding: 2%;
    
}
.container-title {
    text-align: center;
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(48, 196, 255);
      
}
.inputing {
    text-align: left;
}
input {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.inputname {
    margin-top: 7%;
    margin-bottom: 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(48, 196, 255);
}
.inputpass{
    margin-bottom: 10%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(48, 196, 255);
}
input{
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
}
.forgotsec{
    float: right;
    margin-bottom: 7%;
}
a {
    color: #252525;
    text-decoration: none;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgba(167, 139, 250, 1);
}
  
.signin {
    
    display: block;
    width: 100%;
    background-color: #252525;
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    padding-bottom: 4%;
    color: white;
    
}

.signin a {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


@media  screen and (max-width: 767px) {
    body{
        padding: 0;
        margin: 0;
    }
    img {
        height: 45vh;
        width: 120vw;
        margin-left: 85vw;
        margin-top: 75vw;
    }
    .container-title{
        color: rgba(167, 139, 250, 1);
        font-size: 8.5vw;
        font-family: "Rajdhani", sans-serif;
        font-weight: 700;
        font-style: bold;
        margin-top: 0vw;
    }
    .companytitle{
        color: white;
        font-size: 8.5vw;
        font-family: "Rajdhani", sans-serif;
        font-weight: 700;
        font-style: bold;
        margin-top: 0vw;
    }
    .companysubheading {
        font-size: 4.5vw; 
        margin-top: 0;
        font-family: "Rajdhani", sans-serif;
        font-weight: 700;
        font-style: italic;
    }
    .form-container {
        background: #252525;
        height: auto;
        width: 55vw;
        margin-top: 2%;
        margin-right: 20%;
        border-radius: 5%;
        padding: 4%;
        
        
    }
    input{
        width: 27vw;
       
    }
}